<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <!-- <link rel="stylesheet" href="/static/css/font.css"> -->
    <title>{{.Title}}</title>
</head>

<body>
