        
            <main role="main" class="container">
        
                <div class="starter-template">
        
                    <div class="text-center">
                        <h2 class="mb-3 font-weight-normal">企业信用查询系统</h2>
                        <form class="form-search form-inline mb-3" id="main-search-form" action="{{.URL.SearchURL}}" method="POST">
                            <label for="search">搜一搜：</label>
                            <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="请键入关键字，以空格作为间隔符" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
        
            </main>