<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>添加行政处罚信息</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="type">类型：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="type" name="type" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="content">违法内容：</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="content" name="content" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="points">处分：</label>
                <div class="col-md-4">
                    <input type="number" min="1" max="10" class="form-control" id="points" name="points" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="date">决定日期：</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="decision">决定机关：</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="decision" name="decision" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/dist/js/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="/static/dist/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/static/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>